.App {
  text-align: center;
}

.App-logo {

  height: 120px;
}

.App-header {
  background-color: white;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.component{
  display: flex;
  justify-content: space-around;
  width: auto;
  flex-wrap: wrap;
  align-items: center;
}

.hero-image {
  max-width: 80%;
}

.hero-panel{
  background-color: black;
  border: 1px solid #f2f2f2;
  width: calc(30% - 20px);
  margin-top: 30px;
  text-align: center;
  box-shadow: 3px 3px 7px black;
}

h1{
  font-family: impact;
  font-size: 50px;
  font-weight: bolder;
  color: white;
  margin-bottom: 25px;
  margin-top: 20px;
  text-shadow: 3px 3px 7px black;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
